body {
    background-image: url('./images/background.png');
    font-family: 'Rubik', sans-serif;
}
h1 {
    position: relative;
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 48px;
    color: rgb(51, 3, 51);
}
input {
    position: absolute;
    top: 100px;
    left: calc(50% - 100px);
    width: 200px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid #ffaacc;
    text-align: center;
}
input:hover {
    border: 1px solid #ffaacc;
}
.Task_list {
    display: grid;
    justify-content: center;
    text-align: justify;
}
ul li {
    list-style: none;
}
.TaskItem {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 15px;
    background-color: #ffddcc;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 300px;
    height: 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 6px 10px rgba(83, 70, 30, 0.18);  
}
.Text_list_completed {
    text-decoration: line-through;
}
.Icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    font-size: 24px;
    color: white;
    font-weight: 700;
}
.Icon_check {
    position: absolute;
    left: 30px;
    top: 10px;
    border: 1px solid green;
    border-radius: 50%;
}
.Icon_check_active {
    background-color: palegreen;
}
.Icon_delete {
    position: absolute;
    right: 30px;
    top: -8px;
    width: 20px;
    height: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.Icon_delete:hover {
    color: red;
}
.Add_button {
    position: absolute;
    right: 30px;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
.add_button:hover {
    border: 1px solid #ffaacc;
}