body {
    background-image: url('../images/background.png');
    font-family: 'Rubik', sans-serif;
}
h1 {
    position: relative;
    font-size: 24px;
    text-align: center;
    margin: 5px;
    padding: 48px;
    color: rgb(30, 8, 156);
    text-shadow: 2px 6px 10px rgba(0, 0, 0, 0.20);
}
input {
    position: absolute;
    top: 130px;
    left: calc(50% - 100px);
    width: 200px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid gray;
    font-size: 12px;
    text-align: center;
    opacity: 0.8;
}
input:hover {
    border: 1px solid #0000;
}
.Task_list {
    display: grid;
    justify-content: center;
    text-align: justify;
    font-size: 12px;
}
ul li {
    list-style: none;
}
.TaskItem {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 15px;
    background-color: #ffddcc;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    width: 300px;
    height: 20px;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 6px 10px rgba(20, 17, 7, 0.16);  
}
.Text_list_completed {
    text-decoration: line-through;
}
.Icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    font-size: 24px;
    color: white;
    font-weight: 700;
}
.Icon:hover {
    background-color: palegreen;
}
.Icon_check {
    position: absolute;
    left: 30px;
    top: 10px;
    border: 1px solid gray;
    border-radius: 50%;
}
.Icon_check_active {
    background-color: lightseagreen;;
}
.Icon_x {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    font-size: 24px;
    color: white;
    font-weight: 700;
}
.Icon_delete {
    position: absolute;
    right: 30px;
    top: -8px;
    width: 20px;
    height: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.Icon_delete:hover {
    color: red;
}
.Add_button {
    position: absolute;
    right: 30px;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    box-shadow: 2px 6px 10px rgba(5, 4, 2, 0.16); 
    z-index: 1;
}
.Add_button:hover {
    animation: rotate 1.5s ease-in-out;
}
@keyframes rotate {
    0% {
        transform: rotate(90deg);
    }
    40% {
        transform: rotate(-90deg);
    }
    50% {
        transform: rotate(-180deg);
    }
    100% {
        transform: rotate(90deg);
    }
}